/* CSS Reset  */
body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhai 2', cursive;
}
.header{
    position: sticky;
    top: 0px;

}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 0px;
    /* font-size: 17px; */
}
.left div{
    line-height: 10px;
    font-size: 15px;
    text-align: center;
}
.mid{
    display: block;
    width: 36%;
    margin: 20px auto;
    /* border: 2px solid green; */
}

.right{
    position: absolute;
    right: 34px;
    top: 8px;
    display: inline-block;
    /* border: 2px solid yellowgreen; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 15px;
    
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 24px 13px;
    font-size: 17px;
    
}
.navbar li a:hover, .navbar li a:active{
    text-decoration: underline;
    color: bisque;
}
.left img{
    width: 70px;
    filter: invert(100%);
}
.btn{
    margin: 0px 6px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border: 2px solid grey;
    border-radius: 7px;
}
.btn:hover{
    background-color: indianred;
    cursor: pointer;
}
.container{
    border: 2px solid white;
    margin: 90px 90px;
    padding: 31px 2px;
    border-radius: 12px;
    width: 49%;
    text-align: center;
    top: 0px;
}
.form input{
    text-align: center;
    display: block;
    width: 40%;
    margin: 10px auto;
    padding: 8px 9px;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 16px;
    border: 2px solid khaki;
}
.gender{
    display: inline-block;
    margin: 0px 10px;
}
.gen{
    align-items: center;
}
.btn1{
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 16px;
    display: block;
    width: 44%;
    margin: 12px auto;
    padding: 9px 9px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.btn1:hover{
    background-color: coral;
    border: 2px solid khaki;
}
input[type=radio] {
    border: 0px;
    width: 4%;
    height: 15px;
}

